[Unit]
Description=publishing gateway

[Service]
User=publishing-gw
EnvironmentFile=/opt/publishing-gw/.env
ExecStart=poetry run publishing_gw
WorkingDirectory=/opt/publishing-gw

[Install]
WantedBy=multi-user.target
